.background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  /* left: 0; */
  background-color: #f3f3fb;
  z-index: -10;
  opacity: 0.4;
  background: url('../src/media/bg2.svg') center center/cover;
}

#about{
  display:flex;
  height: 100%;
  width: 100%;
  background: url('../src/media/bg.svg') center center/cover;
}