@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Ubuntu&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}
.text-center {
    margin: 35px 0;
    margin-top: 70px;
    /* font-weight: 500; */
}
/* NAVBAR  */
#logo{
    max-width:9.5rem;
}
.navbar-brand {
    padding: 0;
    margin: 0 1.8rem 0 1rem;
}


.badge {
    display: flex;
    position: absolute;
    right: 0;
}

#c-img-wrapper {
    display: flex;
    justify-content: center;
}

#c-img {
    width: fit-content;
    max-height: 250px;
    overflow: hidden;
}
#navbar{
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}