.text-center{
    margin:35px 0;
    margin-top: 90px;
}
.badge{
    display: flex;
    position: absolute;
    right: 0;
}
#c-img-wrapper{
    display: flex;
    justify-content: center;
}
#c-img{
    width:fit-content;
    max-height: 250px;
    overflow: hidden;
}